<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin GPA</title>
    <style>
        .form-container {
            font-weight: bold;
        }
    </style>
</head>
<body>
    <h1>Display GPAs Greater than or Equal to</h1>

    <form action="/adminGPA" method="post">
        <div class="form-container">
            <label for="GPA">GPA:</label>
            <input type="text" id="gpa" name="gpa" required><br><br>
        </div>

        <button type="submit">Submit Request</button>
    </form>
    <hr>

    <a href="/">HOME</a>
</body>
</html>