<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
  <h1>Welcome to Barbell Club</h1>
  
  <h2>Activities</h2>
  <span>Apply to be a member today </span> 
  <a href="apply">
    <button>Apply Now</button>
  </a><br><br>
  <span>Filter our current members. </span> 
  <a href="reviewApplication">
    <button>Filter</button>
  </a>
  <hr>
</body>
</html>