<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="export.js" defer></script>

  <title>Home</title>
</head>
<body>
  <h1>Welcome to Terps Summer Camp</h1>
  
  <h2>Applicant</h2>
  <ul>
    <li>To apply select <a href="apply">Application</a></li>
    <li>To review/update an application select <a href="reviewApplication">Review Application</a></li>
  </ul>
  <hr>
  <h2>Admin</h2>
  <ul>
    <li>To select users based on gpa <a href="adminGPA">Select by GPA</a></li>
    <li>To remove all applications <a href="adminRemove">Remove All Applications</a></li>
  </ul>
  <hr>

  <h1>Find A Gym Near you</h1>
  <form action="/findGyms" method="get">
    <div class="form-container">

      <label for="city">Enter City:</label>
      <input type="text" id="city" name="city" required>
      <br>
      <br>
      <button type="reset">Reset</button>
      <button type="submit">Submit Application</button>
    </div>
  

  </form>


<hr>
<form action="/logout">
  <input type="submit" value="Logout" />
</form>

</body>
</html>