<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        table, th, td {
            border: 1px solid black; /* Set the outside border */
        }
    </style>
    <title>Selected Applicants</title>
</head>

<body>
    <h1>Display GPAs Greater than or Equal to</h1>

    <% if (selectedApplicants && selectedApplicants.length > 0) { %>
        <table>
            <tr>
                <th>Name</th>
                <th>GPA</th>
            </tr>
            <% selectedApplicants.forEach(applicant => { %>
                <tr>
                    <td><%= applicant.name %></td>
                    <td><%= applicant.gpa %></td>
                </tr>
            <% }); %>
        </table>
    <% } else { %>
        <p>No applicants found with the specified GPA.</p>
    <% } %><br>

    <a href="/home">HOME</a>
</body>

</html>