<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Review Application</title>
    <style>
        .form-container {
            border: 2px solid gray;
            padding: 5px;
            margin-top: 10px;
            margin-bottom: 10px;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <h1>Filter By ...</h1>

    <form action="/reviewApplication" method="post">
        <div class="form-container">
            <label for="weightCategory">Weight Category</label>
            <select id="weightCategory" name="weightCategory" required>
                <option value="60">60kg</option>
                <option value="67.5">67.5kg</option>
                <option value="75">75kg</option>
                <option value="82.5">82.5kg</option>
            </select>
            <br><br>
        </div>

        <button type="reset">Reset</button>
        <button type="submit">Submit Request</button>
    </form>
    <hr>

    <a href="/home">HOME</a>
</body>
</html>